<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>it</key>
	<dict>
		<key>it_IT</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>La Repubblica</string>
					<key>location</key>
					<string>feed://www.repubblica.it/rss/homepage/rss2.0.xml?ref=HRF-1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Corriere Della Sera</string>
					<key>location</key>
					<string>feed://xml.corriereobjects.it/rss/homepage.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Il Sole 24 Ore Prima Pagina</string>
					<key>location</key>
					<string>feed://feeds.ilsole24ore.com/c/32276/f/438662/index.rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>La Stampa</string>
					<key>location</key>
					<string>feed://www.lastampa.it/rss.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>ANSA.it</string>
					<key>location</key>
					<string>feed://ansa.feedsportal.com/c/34225/f/621689/index.rss</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>iSpazio</string>
					<key>location</key>
					<string>http://feeds.feedburner.com/Ispazio?format=xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Wired</string>
					<key>location</key>
					<string>feed://www.wired.it/feed/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>La Repubblica Tecnologia</string>
					<key>location</key>
					<string>feed://www.repubblica.it/rss/tecnologia/rss2.0.xml?ref=HRF-1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Corriere Della Sera Scienze</string>
					<key>location</key>
					<string>feed://xml.corriereobjects.it/rss/scienze.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>iPhoneItalia</string>
					<key>location</key>
					<string>feed://feeds.iphoneitalia.com/c/32507/f/480597/index.rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Tom&apos;s Hardware</string>
					<key>location</key>
					<string>http://rss.feedsportal.com/c/32604/f/531080/index.rss</string>
				</dict>
			</array>
		</array>
	</dict>
	<key>es</key>
	<dict>
		<key>es_ES</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>EL PAÍS Últimas noticias</string>
					<key>location</key>
					<string>http://elpais.com/rss/tags/ultimas_noticias.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>El Mundo Portada</string>
					<key>location</key>
					<string>http://estaticos.elmundo.es/elmundo/rss/portada.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>ABC.es Portada</string>
					<key>location</key>
					<string>http://www.abc.es/rss/feeds/abcPortada.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>La Vanguardia Portada</string>
					<key>location</key>
					<string>http://feeds.feedburner.com/lavanguardia/home</string>
				</dict>
				<dict>
					<key>name</key>
					<string>El Periódico Portada</string>
					<key>location</key>
					<string>http://www.elperiodico.com/es/rss/rss_portada.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>La Razón Portada</string>
					<key>location</key>
					<string>http://www.larazon.es/RSS-portlet/feed/la-razon/portada</string>
				</dict>
				<dict>
					<key>name</key>
					<string>El Correo</string>
					<key>location</key>
					<string>http://www.elcorreo.com/bizkaia/rss/2.0/portada</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Engadget</string>
					<key>location</key>
					<string>feed://es.engadget.com/rss.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>CNET en Español</string>
					<key>location</key>
					<string>http://www.cnet.com/es/rss/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Xataka</string>
					<key>location</key>
					<string>http://feeds.weblogssl.com/xataka2</string>
				</dict>
				<dict>
					<key>name</key>
					<string>ABC.es Tecnología</string>
					<key>location</key>
					<string>http://www.abc.es/rss/feeds/abc_Tecnologia.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Applesfera</string>
					<key>location</key>
					<string>http://feeds.weblogssl.com/applesfera</string>
				</dict>
				<dict>
					<key>name</key>
					<string>MovilZona</string>
					<key>location</key>
					<string>http://feeds.feedburner.com/MovilZona?format=xml</string>
				</dict>
			</array>
		</array>
	</dict>
	<key>es-MX</key>
	<dict>
		<key>es_MX</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>El Universal</string>
					<key>location</key>
					<string>feed://www.eluniversal.com.mx/rss/notashome.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Milenio.com</string>
					<key>location</key>
					<string>feed://com.milenio.feedsportal.com/c/33388/f/600778/index.rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Informador.com.mx México</string>
					<key>location</key>
					<string>http://rss.informador.com.mx/informador-mexico?format=xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>El Imparcial Portada</string>
					<key>location</key>
					<string>feed://imparcialoaxaca.mx/ultimas.atom</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Reconoce MX</string>
					<key>location</key>
					<string>feed://www.reconoce.mx/feed/atom/</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Conéctica</string>
					<key>location</key>
					<string>http://feeds.feedburner.com/feedconectica?format=xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Xataka México</string>
					<key>location</key>
					<string>http://feeds.weblogssl.com/xatakamx?format=xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>informador.com.mx Tecnología</string>
					<key>location</key>
					<string>http://rss.informador.com.mx/informador-tecnologia?format=xml</string>
				</dict>
			</array>
		</array>
	</dict>
	<key>fr</key>
	<dict>
		<key>fr_FR</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Le Monde A La Une</string>
					<key>location</key>
					<string>feed://rss.lemonde.fr/c/205/f/3050/index.rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>RFI A La Une</string>
					<key>location</key>
					<string>feed://www.rfi.fr/general/rss/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Le Figaro Actualité</string>
					<key>location</key>
					<string>feed://feeds.lefigaro.fr/c/32266/f/438191/index.rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>L&apos;Express A La Une</string>
					<key>location</key>
					<string>feed://www.lexpress.fr/rss/alaune.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Libération A La Une</string>
					<key>location</key>
					<string>feed://liberation.fr.feedsportal.com/c/32268/fe.ed/rss.liberation.fr/rss/latest/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Le GORAFI</string>
					<key>location</key>
					<string>feed://www.legorafi.fr/feed/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Le Parisien toute l&apos;actualité</string>
					<key>location</key>
					<string>http://www.leparisien.fr/actualites-a-la-une.rss.xml</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>CNET France</string>
					<key>location</key>
					<string>feed://www.cnetfrance.fr/feeds/rss/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>ZDNet actualites</string>
					<key>location</key>
					<string>http://www.zdnet.fr/feeds/rss/actualites/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Libération Écrans</string>
					<key>location</key>
					<string>feed://liberation.fr.feedsportal.com/c/32268/fe.ed/rss.liberation.fr/rss/53/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>MediasSociaux.fr</string>
					<key>location</key>
					<string>http://feeds.feedburner.com/mediassociaux</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Connected-Objects.fr</string>
					<key>location</key>
					<string>http://feeds.feedburner.com/connected-objects-france</string>
				</dict>
			</array>
		</array>
	</dict>
	<key>de</key>
	<dict>
		<key>de_DE</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Zeit Online</string>
					<key>location</key>
					<string>feed://newsfeed.zeit.de/index</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Spiegel Online</string>
					<key>location</key>
					<string>http://www.spiegel.de/schlagzeilen/tops/index.rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Focus Online</string>
					<key>location</key>
					<string>http://rss.focus.de/fol/XML/rss_folnews.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Frankfurter Allgemeine Aktuell</string>
					<key>location</key>
					<string>http://www.faz.net/rss/aktuell/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>tagesschau.de</string>
					<key>location</key>
					<string>http://www.tagesschau.de/xml/atom/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>n-tv</string>
					<key>location</key>
					<string>feed://www.n-tv.de/rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Telepolis</string>
					<key>location</key>
					<string>feed://www.heise.de/tp/news-atom.xml</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>GIGA Apple</string>
					<key>location</key>
					<string>http://www.giga.de/macnews/feed/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Golem.de</string>
					<key>location</key>
					<string>http://rss.golem.de/rss.php?feed=ATOM1.0</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Heise Online</string>
					<key>location</key>
					<string>http://www.heise.de/newsticker/heise-atom.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Engadget</string>
					<key>location</key>
					<string>feed://de.engadget.com/rss.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>ZDNet.de News</string>
					<key>location</key>
					<string>http://www.zdnet.de/kategorie/news/feed/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Tom&apos;s Hardware</string>
					<key>location</key>
					<string>http://www.tomshardware.de/feeds/atom/news.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Make</string>
					<key>location</key>
					<string>feed://www.heise.de/make/rss/hardware-hacks-atom.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Spektrum</string>
					<key>location</key>
					<string>feed://www.spektrum.de/alias/rss/spektrum-de-rss-feed/996406</string>
				</dict>
			</array>
		</array>
		<key>de_AT</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>ORF News</string>
					<key>location</key>
					<string>feed://rss.orf.at/news.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Der Standard</string>
					<key>location</key>
					<string>http://derstandard.at/?page=rss&amp;ressort=seite1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Die Presse Schlagzeilen</string>
					<key>location</key>
					<string>http://diepresse.com/rss/home</string>
				</dict>
			</array>
		</array>
	</dict>
	<key>en</key>
	<dict>
		<key>en_US</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>The New York Times</string>
					<key>location</key>
					<string>http://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>CNN Top Stories</string>
					<key>location</key>
					<string>http://rss.cnn.com/rss/edition.rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>NBC News Top Stories</string>
					<key>location</key>
					<string>http://feeds.nbcnews.com/feeds/topstories</string>
				</dict>
				<dict>
					<key>name</key>
					<string>The Washington Post WorldViews</string>
					<key>location</key>
					<string>http://feeds.washingtonpost.com/rss/rss_blogpost</string>
				</dict>
				<dict>
					<key>name</key>
					<string>USA TODAY Top Stories</string>
					<key>location</key>
					<string>http://rssfeeds.usatoday.com/usatoday-newstopstories&amp;x=1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Quartz</string>
					<key>location</key>
					<string>http://qz.com/feed</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>MacRumors</string>
					<key>location</key>
					<string>feed://feeds.macrumors.com/MacRumors-All?format=xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>The Verge</string>
					<key>location</key>
					<string>http://www.theverge.com/rss/index.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Slashdot</string>
					<key>location</key>
					<string>feed://rss.slashdot.org/Slashdot/slashdot</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Mashable</string>
					<key>location</key>
					<string>feed://feeds.mashable.com/Mashable</string>
				</dict>
				<dict>
					<key>name</key>
					<string>ZDNet</string>
					<key>location</key>
					<string>http://www.zdnet.com/news/rss.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Science Magazine - Current Issue</string>
					<key>location</key>
					<string>feed://www.sciencemag.org/rss/current.xml</string>
				</dict>
			</array>
		</array>
	</dict>
	<key>en-GB</key>
	<dict>
		<key>en_GB</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>BBC News</string>
					<key>location</key>
					<string>http://feeds.bbci.co.uk/news/rss.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>The Guardian World News</string>
					<key>location</key>
					<string>http://feeds.theguardian.com/theguardian/world/rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>The Independent</string>
					<key>location</key>
					<string>http://rss.feedsportal.com/c/266/f/3495/index.rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>The Times</string>
					<key>location</key>
					<string>http://www.thetimes.co.uk/tto/news/rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>The Telegraph</string>
					<key>location</key>
					<string>http://www.telegraph.co.uk/news/worldnews/rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Financial Times UK</string>
					<key>location</key>
					<string>http://www.ft.com/rss/home/uk</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Tom&apos;s Hardware</string>
					<key>location</key>
					<string>http://www.tomshardware.co.uk/feeds/atom/news.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Macworld UK</string>
					<key>location</key>
					<string>http://www.macworld.co.uk/news/apple/rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Techradar</string>
					<key>location</key>
					<string>http://feeds.feedburner.com/techradar/allnews?format=xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>The Register</string>
					<key>location</key>
					<string>http://www.theregister.co.uk/headlines.atom</string>
				</dict>
				<dict>
					<key>name</key>
					<string>New Scientist</string>
					<key>location</key>
					<string>http://feeds.newscientist.com/science-news</string>
				</dict>
				<dict>
					<key>name</key>
					<string>BBC Science &amp; Environment</string>
					<key>location</key>
					<string>http://feeds.bbci.co.uk/news/science_and_environment/rss.xml</string>
				</dict>
			</array>
		</array>
	</dict>
	<key>tr</key>
	<dict>
		<key>tr_TR</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Milliyet Son Dakikalar</string>
					<key>location</key>
					<string>http://www.milliyet.com.tr/D/rss/rss/RssSD.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Hürriyet Anasayfa</string>
					<key>location</key>
					<string>http://rss.hurriyet.com.tr/rss.aspx?sectionId=1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Radikal Son Dakika</string>
					<key>location</key>
					<string>http://www.radikal.com.tr/d/rss/RssSD.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Sabah Anasayfa</string>
					<key>location</key>
					<string>http://sabah.com.tr.feedsportal.com/c/33784/f/606054/index.rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Cumhuriyet Son Dakika</string>
					<key>location</key>
					<string>feed://www.cumhuriyet.com.tr/rss/son_dakika.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>NTVMSNBC Manşetler</string>
					<key>location</key>
					<string>http://www.ntvmsnbc.com/id/3032091/device/rss/rss.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>CNN TÜRK Son Haberler</string>
					<key>location</key>
					<string>http://www.cnnturk.com/feed/rss/news</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Haberler.com</string>
					<key>location</key>
					<string>feed://rss.haberler.com/rss.asp?kategori=sondakika</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Shiftdelete.Net</string>
					<key>location</key>
					<string>feed://shiftdelete.net/rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>WebTekno</string>
					<key>location</key>
					<string>feed://www.webtekno.com/rss.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Teknokulis</string>
					<key>location</key>
					<string>feed://www.teknokulis.com/rss/Anasayfa.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>DonanımHaber</string>
					<key>location</key>
					<string>feed://donanimhaber.com/rss/tum/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Tom&apos;s Hardware Guide Türkiye</string>
					<key>location</key>
					<string>http://thgtr.com/feed</string>
				</dict>
			</array>
		</array>
		<key>tr_CY</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Arti392</string>
					<key>location</key>
					<string>http://www.arti392.com/rss.php</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Kıbrıs Postası Dünya</string>
					<key>location</key>
					<string>http://www.kibrispostasi.com/rss.xml?cat=37</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Havadis Gazetesi</string>
					<key>location</key>
					<string>http://www.havadiskibris.com/RSSFeed/HaberKategori/0</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Haber KKTC Son Dakika</string>
					<key>location</key>
					<string>http://www.haberkktc.com/rss.xml</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Shiftdelete.Net</string>
					<key>location</key>
					<string>feed://shiftdelete.net/rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>WebTekno</string>
					<key>location</key>
					<string>feed://www.webtekno.com/rss.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Teknokulis</string>
					<key>location</key>
					<string>feed://www.teknokulis.com/rss/Anasayfa.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>DonanımHaber</string>
					<key>location</key>
					<string>feed://donanimhaber.com/rss/tum/</string>
				</dict>
			</array>
		</array>
	</dict>
	<key>sv</key>
	<dict>
		<key>sv_SE</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Dagens Nyheter</string>
					<key>location</key>
					<string>http://www.dn.se/nyheter/m/rss/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Göteborgs-Posten Världen</string>
					<key>location</key>
					<string>http://www.gp.se/1.16944</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Svenska Dagbladet Senaste Nytt</string>
					<key>location</key>
					<string>http://www.svd.se/nyheter/nyhetsdygnet/?service=rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>SVT Nyheter</string>
					<key>location</key>
					<string>feed://www.svt.se/nyheter/rss.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Aftonbladets</string>
					<key>location</key>
					<string>http://www.aftonbladet.se/nyheter/rss.xml</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>NyTeknik</string>
					<key>location</key>
					<string>http://www.nyteknik.se/?service=rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Aapl.se</string>
					<key>location</key>
					<string>feed://aapl.se/entries.rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>IDG.se</string>
					<key>location</key>
					<string>http://feeds.idg.se/idg/vzzs</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Datormagazin</string>
					<key>location</key>
					<string>http://www.datormagazin.se/rss.php</string>
				</dict>
			</array>
		</array>
	</dict>
	<key>ja</key>
	<dict>
		<key>ja_JP</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Yahoo!ニュース</string>
					<key>location</key>
					<string>feed://rss.dailynews.yahoo.co.jp/fc/rss.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>NHK 主要ニュース</string>
					<key>location</key>
					<string>feed://www3.nhk.or.jp/rss/news/cat0.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>朝日新聞 国際</string>
					<key>location</key>
					<string>http://rss.asahi.com/rss/asahi/international.rdf</string>
				</dict>
				<dict>
					<key>name</key>
					<string>毎日新聞 ニュース速報</string>
					<key>location</key>
					<string>feed://rss.rssad.jp/rss/mainichi/flash.rss?rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>読売新聞 新着</string>
					<key>location</key>
					<string>http://rss.wor.jp/rss1/yomiuri/latestnews.rdf</string>
				</dict>
				<dict>
					<key>name</key>
					<string>ロイター トップニュース</string>
					<key>location</key>
					<string>http://feeds.reuters.com/reuters/JPTopNews?format=xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>共同ニュース最新記事</string>
					<key>location</key>
					<string>feed://www.47news.jp/news/kyodo_5.rss</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>GIGAZINE</string>
					<key>location</key>
					<string>feed://feed.rssad.jp/rss/gigazine/rss_atom</string>
				</dict>
				<dict>
					<key>name</key>
					<string>週アス</string>
					<key>location</key>
					<string>feed://weekly.ascii.jp/cate/1/rss.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Engadget 日本版</string>
					<key>location</key>
					<string>http://rss.rssad.jp/rss/engadget/rss?rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>TechCrunch</string>
					<key>location</key>
					<string>http://jp.techcrunch.com/feed/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>CNET Japan 最新情報 総合</string>
					<key>location</key>
					<string>http://feeds.japan.cnet.com/rss/cnet/all.rdf</string>
				</dict>
				<dict>
					<key>name</key>
					<string>ZDNet Japan</string>
					<key>location</key>
					<string>http://feeds.japan.zdnet.com/rss/zdnet/all.rdf</string>
				</dict>
				<dict>
					<key>name</key>
					<string>週アス</string>
					<key>location</key>
					<string>feed://weekly.ascii.jp/cate/1/rss.xml</string>
				</dict>
			</array>
		</array>
	</dict>
	<key>zh-Hans</key>
	<dict>
		<key>zh_CN</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>新华网 国际频道</string>
					<key>location</key>
					<string>http://www.xinhuanet.com/world/news_world.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>新浪网</string>
					<key>location</key>
					<string>http://rss.sina.com.cn/news/marquee/ddt.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>163.com 头条新闻</string>
					<key>location</key>
					<string>feed://news.163.com/special/00011K6L/rss_newstop.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>凤凰</string>
					<key>location</key>
					<string>http://news.ifeng.com/rss/index.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>腾讯国内新闻</string>
					<key>location</key>
					<string>feed://news.qq.com/newsgn/rss_newsgn.xml</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Engadget 中国版</string>
					<key>location</key>
					<string>feed://cn.engadget.com/rss.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>TechCrunch中国</string>
					<key>location</key>
					<string>feed://techcrunch.cn/feed/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>比特网</string>
					<key>location</key>
					<string>feed://chinabyte.feedsportal.com/c/33256/f/558826/index.rss</string>
				</dict>
				<dict>
					<key>name</key>
					<string>IT之家</string>
					<key>location</key>
					<string>feed://www.ithome.com/rss/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>科技新报</string>
					<key>location</key>
					<string>feed://technews.cn/feed/</string>
				</dict>
			</array>
		</array>
	</dict>
	<key>zh-Hant</key>
	<dict>
		<key>zh_TW</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string></string>
					<key>location</key>
					<string></string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Engadget 中文版</string>
					<key>location</key>
					<string>feed://chinese.engadget.com/rss.xml</string>
				</dict>
				<dict>
					<key>name</key>
					<string>科技新報</string>
					<key>location</key>
					<string>feed://technews.tw/feed/</string>
				</dict>
			</array>
		</array>
	</dict>
</dict>
</plist>
